/* override table width restrictions */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.wy-table-responsive {
    margin-bottom: 24px;
    max-width: 100%;
    overflow: visible;
}

div.leftside {
    width: 500px;
    padding: 0px 3px 0px 0px;
    float: left;
}

div.rightside {
    margin-left: 339px;
}